<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:campaign_monitor:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		[(#SAISIE{input, cm_client_api_key,
			label="API Key du client",
			explication="",
			defaut=""})]

		[(#SAISIE{input, cm_id_list,
			label="Identifiant de la liste d'abonnés",
			explication="",
			defaut=""})]

		<input type="hidden" name="_meta_casier" value="campaign_monitor" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>