[(#AUTORISER{configurer,_campaign_monitor}|sinon_interdire_acces)]

<h1 class="grostitre"><:campaign_monitor:titre_page_configurer_campaign_monitor:></h1>

<div class="ajax">
	#FORMULAIRE_CONFIGURER_CAMPAIGN_MONITOR
</div>